<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554110566045-b9ga0jf61jkuaoh1721l31n8sj73k6v0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554110566045-b9ga0jf61jkuaoh1721l31n8sj73k6v0</string>
	<key>API_KEY</key>
	<string>//----    ENTER YOUR API KEY     ----</string>
	<key>GCM_SENDER_ID</key>
	<string>554110566045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatAppRiverpod</string>
	<key>PROJECT_ID</key>
	<string>chatapp-backend-6ae89</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-backend-6ae89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554110566045:ios:d0aaa6a5e07983559e5e74</string>
</dict>
</plist>
